env
ekyc/__pycache__
ekyc_project/__pycache__/*.pyc
# Virtual Environment
env/
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# VS Code history
.history/
.history
.vscode/

# Django
*.log
db.sqlite3
media/

# Environment variables
.env
